* {
    padding: 0;
    margin: 0;
}

.container-log {
    background-color: transparent;
    width: 352px;
    padding: 13px;
    align-content: center;
    border: 7px solid #cbb109;

}

.container-sign {
    display: none;
    background-color: transparent;
    width: 352px;
    padding: 13px;
    align-content: center;
    border: 5px solid #cfb717;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    width: 22px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.form input {
    width: 50%;
    padding: 12px;
    font-size: 16px;
    color: #876969;
    border-radius: 12px;
}

.form button {
    width: 56%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}

.blockclass {
    display: block;
}

.logmodel {
    display: none;
}

.box {
    margin-top: 10px;
    text-align: center;
}